<%= render 'shared/errors', form: @post %>

<%= form_with(model: @post, local: true) do |f| %>
  <div class="mb-3">
    <%= f.label :title, class: "form-label", for: "title" %>
    <%= f.text_field :title, class: "form-control", id: "title" %>
  </div>

  <div class="mb-3">
    <%= f.label :description, class: "form-label", for: "description" %>
    <%= f.text_area :description, class: "form-control", id: "description" %>
  </div>

  <div class="col-auto">
    <%= f.submit class:"btn btn-primary mb-3" %>
  </div>

<% end %> 
