<div class="mb-3">
  <%= link_to "Create new post", new_post_path, class: "btn btn-primary" %>
</div>

<div class="flickr_pagination">
  <%= will_paginate @posts, :container => false %>    
</div>

<%= render 'posts' %>

<div class="flickr_pagination">
  <%= will_paginate @posts, :container => false %>
  <div class="page_info">
    <%= page_entries_info @posts %>
  </div>
</div>
